body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #18501a;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px; /* Ajuste o tamanho do logo conforme necessário */
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #4caf50;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    margin: 5px 0;
}
#planta{
   width: 50px;
  

}